@model WebApp.SaleManagement.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title text-center mt-5 text-primary">Welcome @User.Identity.Name!</h3>
                
            </div>
        </div>
    </div>
    <!-- /Page Header -->

