@model WebApp.SaleManagement.Models.Order
<div class="form-content p-2">
    <h4 class="modal-title">Delete</h4>
    <p class="mb-4 ">Are you sure want to delete ?</p>
    <h4 class="table-avatar">
       Id: @Model.Id <br /> Order Date: @Model.OrderDate <br /> Total: @Model.Total
    </h4>

    <form asp-action="Delete" asp-route-id="@Model.Id">
        <button type="submit" class="btn btn-danger">Delete </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </form>

</div>