@model WebApp.SaleManagement.Models.Order


<h1>Edit </h1>



<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="Id" />
            <input hidden asp-for="AdminName" />
            <input hidden asp-for="CustomerId" />
            <input hidden asp-for="Total" />

            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input readonly asp-for="OrderDate" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

